<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]='["/merchant/reservations"]'>Mijn reservaties</a>
      <a class="nav-item nav-link" [routerLink]='["/merchant/lunch"]'>Mijn lunches</a>
      <a class="nav-item nav-link active" [routerLink]='["/merchant/addlunch"]'>Voeg een lunch toe</a>
    </div>
  </div>
</nav>

<div class="col-md-6 offset-md-3">

  <h1>Toevoegen van een lunch</h1>
  <hr>

  <div *ngIf='errorMsg' style="color:crimson;">{{errorMsg}}</div>
  <form [formGroup]="lunch" (ngSubmit)='onSubmit()' enctype="multipart/form-data" (keydown.enter)="$event.preventDefault()">

    <div class="form-group">
      <label for="name">Naam:</label>
      <input type="text" id="name" formControlName='name' class="form-control">
    </div>

    <div class="form-group">
      <label for="price">Prijs:</label>
      <input type="number" id="price" formControlName='price' class="form-control">
    </div>

    <div class="form-group">
      <label for="description">Beschrijving:</label>
      <textarea type="text" id="description" formControlName='description' class="form-control" rows="4"></textarea>
    </div>

    <div class="form-group">
      <label for="startdate">Begindatum:</label>
      <input type="date" id="startdate" formControlName='startdate' class="form-control">
    </div>

    <div class="form-group">
      <label for="enddate">Einddatum:</label>
      <input type="date" id="enddate" formControlName='enddate' class="form-control">
    </div>

    <div class="form-group">
        <label for="inputfile">Kies een afbeelding (optioneel):</label>
      <input type="file" class="inputfile" (change)="fileChange($event)" placeholder="Upload file" accept=".jpg"
        multiple>
    </div>

    <div class="form-group">
      <label for="ingredienten">Ingredienten:</label>
      <div class="container row">
        <input #ing type="text" (keyup.enter)="addIngredient(ing.value)" id="ingredienten" formControlName='ingredient' class="form-control col" />
        <a (click)="addIngredient(ing.value)" class="btn btn-light col-md-auto pd-r-5">Toevoegen</a>
      </div>
      <div>
        <table>
          <tbody>
            <tr *ngFor='let ingredient of _ingredienten'>
              <td><a class="btn" (click)="removeIng(ingredient)"><i class="fa fa-times"></i></a></td>
              <td>{{ingredient.Naam}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="form-group">
      <label for="tags">Tags:</label>
      <div class="selected-tags">
        <div class="selected-tag" *ngFor='let selTag of _selectedTags'>{{selTag.Naam}} <a class="remove-button" (click)="removeSelectedTag(selTag)"><i class="fa fa-times"></i></a></div>
      </div>

      <div class="all-tags">
        <a *ngFor='let tag of _tags' class="selectable-tag btn btn-default" (click)="selectTag(tag)">{{tag.Naam}}</a>
      </div>
    </div>

    <div class="form-group">
      <button type='submit' [disabled]='!lunch.valid' class="form-control">Voeg lunch toe</button>
    </div>
  </form>
</div>