<div class="page">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]='["/admin"]'>Lunchers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" [routerLink]='["/admin"]'>Overzicht</a>
        <a class="nav-item nav-link" [routerLink]='["/admin/merchants"]'>Handelaars</a>
        <a class="nav-item nav-link" [routerLink]='["/admin/lunches"]'>Lunches</a>
        <a class="nav-item nav-link" [routerLink]='["/admin/reservations"]'>Reservaties</a>
      </div>
    </div>
  </nav>
  <div class="content">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h1 class="card-title">{{aantalHandelaars}}</h1>
            <p class="card-text">Aantal handelaars</p>
            <a [routerLink]='["/admin/merchants"]' class="btn btn-danger">Bezoek</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h1 class="card-title">{{aantalLunches}}</h1>
            <p class="card-text">Aantal lunches</p>
            <a [routerLink]='["/admin/lunches"]' class="btn btn-success">Bezoek</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h1 class="card-title">{{aantalReservaties}}</h1>
            <p class="card-text">Aantal reservaties</p>
            <a [routerLink]='["/admin/reservations"]' class="btn btn-primary">Bezoek</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
