a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: #B22222;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
