
<h1 class="title">Jouw lunches</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Naam</th>
        <th scope="col">Beschrijving</th>
        <th scope="col">Begin Datum</th>
        <th scope="col">Eind Datum</th>
        <th scope="col">Bewerk</th>
        <th scope="col">Verwijder</th>
      </tr>
    </thead>
    <tbody> 
      <tr *ngFor= 'let lunch of lunches'>
        <td>{{lunch.naam}}</td>
        <td>{{lunch.beschrijving}}</td>
        <td>{{lunch.beginDatum | date : 'dd/MM/yyyy'}}</td>
        <td>{{lunch.eindDatum | date : 'dd/MM/yyyy'}}</td>
        <td class="text-center"><a class="btn btn-sm btn-primary editLunchButton" (click)='editLunch(lunch)'><i class="fa fa-pencil fa-lg"></i></a></td>
        <td class="text-center">
          <button (click)='removeLunch(lunch)' class="btn btn-sm btn-primary removeLunchButton"><i class="fa fa-trash fa-lg"></i></button>
      </tr>
    </tbody>
  </table>

  <a (click)='addLunch()' class="btn btn-primary">Voeg een lunch toe</a>