
section{
   width: 100%;
   height: 100%;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: 'Lato' !important;
   font-weight: 100;
   letter-spacing: 1px;
   font: bold;
 }

 .pd-50{
   padding-top: 150px !important;
   padding-bottom: 5px !important;
 }

 .pd-b-25{
   padding-bottom: 25px !important;
 }
 
 section.download h2 {
   font-size: 35px;
   margin-top: 0;
 }
 
 section.download .badges .badge-link {
   display: block;
   margin-bottom: 25px;
 }
 
 section.download .badges .badge-link:last-child {
   margin-bottom: 0;
 }
 
 section.download .badges .badge-link img {
   height: 60px;
 }
 
 @media (min-width: 768px) {
   section.download .badges .badge-link {
     display: inline-block;
     margin-bottom: 0;
   }
 }
 
 @media (min-width: 768px) {
   section.download h2 {
     font-size: 50px;
   }
 }
 
 .btn-outline {
   color: white;
   border: 1px solid;
   border-color: white;
 }
 
 .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
   color: white;
   border-color: #fdcc52;
   background-color: #fdcc52;
 }
 
 .btn {
   border-radius: 300px;
   font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
   letter-spacing: 2px;
   text-transform: uppercase;
 }
 
 .btn-xl {
   font-size: 11px;
   padding: 15px 45px;
 }
 