    <section class="download text-center bg" id="download">
      <div class="container">
        <div class="row ">
          <div class="col-md-7 mx-auto vertical-alg">
            <h2 class="section-heading pd-50" >Download onze app hier!</h2>
            <h5 class="pd-b-25">Voorlopig zal er nog een apk gedownload worden en moet deze zelf nog geïnstalleerd worden.</h5>
            <div class="badges">
              <a class="badge-link vertical-alg" href="lunchersapp.ml" download><img src="/assets/google-play-badge.svg" alt=""></a>
            </div>
          </div>
          <div class="col-md-5 mx-auto">
            <img src="/assets/app.png" height="500px"/>
          </div>
        </div>
      </div>
    </section>
    