.pd-50{
    padding-top: 50px;
}

.pd-25{
    padding-top: 25px;
}

.mg-l-10{
    margin-left: 10px !important;
}

nav{
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}

h3{
    font-size: 1em!important;
}