.home-lunches{
    padding-top: 40px;
}

.home-lunches .title{
    color: #B22222;
}

.home-lunches .subtitle{
    font-weight: 300;
    font-size: 1.5em;
}

.seperator{
    width: 20%;
    height: 5px;
}

.zoeken{
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}

.jumbotron{
    background-image: url("/assets/1.jpg");
    background-size: cover;
    text-align: center;
    color: white;
}

.jumbotron a{
    background: none;
    border: 3px solid #B22222;
    background: #B22222;
    text-shadow: 5px 10px 15px rgba(0,0,0,0.4);
}

.jumbotron a:hover{
    background: none;
    border: 3px solid white;
    text-shadow: 5px 10px 15px rgba(0,0,0,0.4);
}

.jumbotron h1{
    font-size: 5em;
    font-weight: bold;
    text-shadow: 5px 10px 15px rgba(0,0,0,0.4);
}

.jumbotron p{
    font-size: 2em;
    text-shadow: 5px 10px 15px rgba(0,0,0,0.4);
}


