<div class="jumbotron">
    <h1 class="display-4">Lunchers</h1>
    <p>Snel lunchen in Aalst</p>
    <a class="btn btn-primary btn-lg" (click)="scroll(lunchesTarget)">Bekijk de lunches!</a>
  </div>

<div #lunchesTarget class="text-center home-lunches">
  <h1 class="title">Populair</h1>
  <hr class="seperator">
  <h3 class="subtitle">Populaire lunches in jou buurt</h3>

  <div class="col-md-6 offset-md-3 zoeken">
    <input type="text" (input)="onSearchChange($event.target.value)" placeholder="Zoeken..." class="form-control" />
  </div>

  <div class="row">
    <app-lunch *ngFor='let localLunch of lunches' [lunch]="localLunch" (details)="showDetails($event)" class="col-md-4 col-sm-6"></app-lunch>
  </div>
</div>