.main-div{
    margin-top:30%;
  }
  
  .main-div h1{
    font-size: 6em;
    font-weight: 600;
  }
  
  .main-div h2{
    font-weight: 200;
  }
  
  .btn-primary{
    background-color: #B22222!important;
    border:none!important;
    margin: 20px;
  }