<div class="page">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]='["/admin"]'>Lunchers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]='["/admin"]'>Overzicht</a>
        <a class="nav-item nav-link active" [routerLink]='["/admin/merchants"]'>Handelaars</a>
        <a class="nav-item nav-link" [routerLink]='["/admin/lunches"]'>Lunches</a>
        <a class="nav-item nav-link" [routerLink]='["/admin/reservations"]'>Reservaties</a>
      </div>
    </div>
  </nav>

  <div *ngIf='(requests) else elseBlock'>
    <div class="content">
      <h3 class="title">Goed te keuren handelaars</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Handelsnaam</th>
            <th scope="col">Voornaam</th>
            <th scope="col">Achternaam</th>
            <th scope="col">E-mailadres</th>
            <th scope="col">Telefoonnummer</th>
            <th scope="col">Bekijk</th>
            <th scope="col">Verwijder</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let merchant of approvableMerchants'>
            <td>{{merchant.naam}}</td>
            <td>{{merchant.voornaam}}</td>
            <td>{{merchant.achternaam}}</td>
            <td>{{merchant.email}}</td>
            <td>{{merchant.telefoonnummer}}</td>
            <td class="text-center"><button (click)='goToMerchantDetail(merchant)' class="btn btn-sm btn-primary"><i
                  class="fa fa-eye fa-lg"></i></button></td>
            <td class="text-center"><button data-toggle="modal" [attr.data-target]="'#modal' + merchant.merchantId" class="btn btn-sm btn-primary"><i
                  class="fa fa-trash fa-lg"></i></button></td>

            <!--pop up-->
            <div [attr.id]="'modal'+merchant.merchantId" class="modal fade">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Verwijderen Handelaar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Bent u zeker dat u deze handelaar wilt verwijderen?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nee</button>
                    <button type="button" class="btn btn-primary" (click)='removeMerchant(merchant)' data-dismiss="modal">Ja</button>
                  </div>
                </div>
              </div>
            </div>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="content">
      <h3 class="title">Er zijn geen handelaars om goed te keuren.</h3>
    </div>
  </ng-template>

  <div class="content">
    <h3 class="title">Handelaar overzicht</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Handelsnaam</th>
          <th scope="col">Voornaam</th>
          <th scope="col">Achternaam</th>
          <th scope="col">E-mailadres</th>
          <th scope="col">Telefoonnummer</th>
          <th scope="col">Bekijk</th>
          <th scope="col">Verwijder</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let merchant of approvedMerchants'>
          <td>{{merchant.naam}}</td>
          <td>{{merchant.voornaam}}</td>
          <td>{{merchant.achternaam}}</td>
          <td>{{merchant.email}}</td>
          <td>{{merchant.telefoonnummer}}</td>
          <td class="text-center"><button (click)='goToMerchantDetail(merchant)' class="btn btn-sm btn-primary"><i
                class="fa fa-eye fa-lg"></i></button></td>
          <td class="text-center"><button data-toggle="modal" [attr.data-target]="'#modal' + merchant.handelaarId"class="btn btn-sm btn-primary"><i
                class="fa fa-trash fa-lg"></i></button></td>

          <!--pop up-->
          <div [attr.id]="'modal'+merchant.handelaarId" class="modal fade">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Verwijderen Handelaar</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Bent u zeker dat u deze handelaar wilt verwijderen?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Nee</button>
                  <button type="button" class="btn btn-primary" (click)='removeMerchant(merchant)' data-dismiss="modal">Ja</button>
                </div>
              </div>
            </div>
          </div>

        </tr>
      </tbody>
    </table>
  </div>
</div>