<div class="col-md-6 offset-md-3">

  <h1>Aanpassen van een lunch</h1>
  <hr>

  <div *ngIf='errorMsg' style="color:crimson;">{{errorMsg}}</div>
  <form [formGroup]="lunch" (ngSubmit)='onSubmit()' enctype="multipart/form-data" (keydown.enter)="$event.preventDefault()">

    <div class="form-group">
      <label for="name">Naam:</label>
      <input type="text" id="name" formControlName='name' class="form-control" value="qsjkghlqhbfmhiqdvfglsdv">
    </div>

    <div class="form-group">
      <label for="price">Prijs:</label>
      <input type="number" id="price" formControlName='price' class="form-control">
    </div>

    <div class="form-group">
      <label for="description">Beschrijving:</label>
      <textarea type="text" id="description" formControlName='description' class="form-control" rows="4"></textarea>
    </div>

    <div class="form-group">
      <label for="startdate">Begindatum:</label>
      <input type="date" id="startdate" formControlName='startdate' class="form-control">
    </div>

    <div class="form-group">
      <label for="enddate">Einddatum:</label>
      <input type="date" id="enddate" formControlName='enddate' class="form-control">
    </div>

    <div class="form-group">
      <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".jpg" multiple>
    </div>

    <div class="form-group">
        <label for="ingredienten">Ingredienten:</label>
        <div class="container row">
          <input #ing type="text" (keyup.enter)="addIngredient(ing.value)" id="ingredienten" formControlName='ingredient' class="form-control col" />
          <a (click)="addIngredient(ing.value)" class="btn btn-light col-md-auto pd-r-5">Toevoegen</a>
        </div>
        <div>
          <table>
            <tbody>
              <tr *ngFor='let ingredient of _ingredienten'>
                <td><a class="btn" (click)="removeIng(ingredient)"><i class="fa fa-times"></i></a></td>
                <td>{{ingredient.Naam}} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    <div class="form-group">
      <label for="tags">Tags:</label>
      <div class="selected-tags">
        <div class="selected-tag" *ngFor='let selTag of _selectedTags'>{{selTag.Naam}} <a class="remove-button" (click)="removeSelectedTag(selTag)">x</a></div>
      </div>

      <div class="all-tags">
        <a *ngFor='let tag of _tags' class="selectable-tag btn btn-default" (click)="selectTag(tag)">{{tag.Naam}}</a>
      </div>
    </div>

    <div class="form-group">
      <button type='submit' [disabled]='!lunch.valid' class="form-control">Pas lunch aan</button>
    </div>
  </form>
</div>